.mainNav {
  display: flex;
  align-items: flex-start;

  background-color: rgb(199, 208, 214);

  box-shadow: -0px 3px 6px 6px #00000007;
}

.mainNav-link {
  padding: 0.5rem;
}

.itemList {
  background-color: rgb(235, 238, 241);
}

.itemList-item {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 0.5rem;
  border-bottom: 1px solid rgba(47, 79, 79, 0.1);
}

.itemList-header {
  color: darkslategray;
  font-size: smaller;
}

.title-wrapper {
  padding: 0.5rem;
  background-color: rgb(222, 228, 233);
}

.auction-form {
  display: flex;
  flex-direction: column;
}

.radio-group {
  display: flex;
  flex-direction: column;
}

.radio-button {
  padding: 0.5rem;
  margin-right: 0.5rem;
}

.column {
  display: flex;
  flex-direction: column;
}

.itemList-item-date {
  color: darkslategray;
  font-size: smaller;
}

.label {
  font-size: smaller;
  margin-bottom: 0;
}

.button {
  margin-top: 0.5rem;
}
